<div class="row">
  <div class="col-sm-12">
    <% if @movie.errors.any? %>
      <div>
        <%= pluralize(@movie.errors.count, "error") %> prevented this movie from being submitted:
        <ul>
          <% @movie.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    </div>
  </div>
<div class="row"> 
  <div class="col-sm-2"> 
  </div> 
  <div class="col-sm-8">
    <%= form_for @movie, :html => {:multipart => true} do |f| %>
      <div class="form-group">
        <%= f.label "title" %><br>
        <%= f.text_field "title", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "release_date" %><br>
        <%= f.date_field "release_date", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "director" %><br>
        <%= f.text_field "director", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "runtime_in_minutes" %><br>
        <%= f.number_field "runtime_in_minutes", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "description" %><br>
        <%= f.text_area "description", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :picture %><br>
        <%= f.file_field :picture %>
      </div>
      <div class="form-group">
        <%= f.hidden_field :user_id, :value => session[:user_id]%>
      </div>
      <div class="form-group">
        <%= f.submit "Save", class: "btn btn-success btn-block" %> 
      </div>
    <% end %>
  </div>
  <div class="col-sm-2">
  </div>
</div>
